<div class="container">
  <div class="row">
    <div class="col-4">
      <form action="/create" method=post>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <label for="city" class="font-weight-bold">Add note</label><br>
        <input type="text" class="form-control" name="note[city]" placeholder="Enter city">
        <p></p>
        <textarea rows="3" input type="text" class="form-control" name="note[description]" placeholder="Enter description"></textarea>
        <button type="submit" class="btn btn-info float-right">Submit</button>
      </form>
    </div>   
  </div>
</div>

<p>
</p>

<% if @notes.present? %>
  <div class="container">
    <h5 style="font-weight: bold">Old notes</h5>
    <table class="table table-striped" style="width:80%">
      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td class="align-middle"><b>Date:</b> <%= note.created_at.to_date %>, <b>City:</b> <%= note.city %>, <b>Temperature:</b> <%= note.temperature %> °C, <b>Wind:</b> <%= note.wind %> m/s, <b>Cloudiness:</b> <%= note.clouds %> %</td>
            <td class="text-right"> 
              <%= link_to "Edit", edit_path(note_id: note.id), method: "get", class: "btn btn-outline-primary btn-sm" %>
              <form class="form-inline" action="/destroy" method=post style="display: inline;">
                <input type="hidden" value="delete" name="_method">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>"/>
                <input type="hidden" name="note_id" value="<%= note.id %>">
                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
          <tr>
            <td colspan=2><b>Description:</b> <%= note.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
